@model IEnumerable<GroupModel>
@{
    var randomColor = ColorHelper.GetRandomColor();
    var imagePaths = new List<string>
    {
        "/images/background1.jpg",
        "/images/background2.jpg",
        "/images/background3.jpg",
        "/images/background4.jpg",
        "/images/background5.jpg",
        "/images/background6.jpg"
    };
}
@foreach (var group in Model)
{
    var randomImage = imagePaths[new Random().Next(imagePaths.Count)];

        <div class="col-md-3" style="text-align:center">
        <h5>@group.Name</h5>
        <div class="task-box"
             onclick="location.href='/Group/Tasks/@group.Id'"
             style="background-image: url('@randomImage'); background-size: cover; background-position: center; height: 150px; border-radius: 12px; cursor: pointer; display: flex; align-items: center; justify-content: center;"></div>
        </div>
}

<!-- Nút thêm nhóm vẫn giữ nguyên -->
<div class="col-md-3" style="">
    <button class="task-box d-flex justify-content-center align-items-center border-0 bg-transparent"
            id="add-group-btn" style="cursor: pointer;width:100%;height:100%">
        <i class="bi bi-plus-circle" style="font-size: 2rem;"></i>
    </button>
</div>